[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=avifs
X-KDE-MimeType=image/avif-sequence
X-KDE-Read=true
X-KDE-Write=false
